body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 80vh;
}

.nav{
  margin-left: auto;
}


.logoimage{
  width: 150px;
  height: 80px;
  
}

.productLink{
  text-decoration: none;
}


.productLink:hover{
  text-decoration-color: darkgray;
  text-decoration: underline;
}

.qtyButton{
  color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: white;
  height:28px;
  width: 28px;
  font-weight: bold;
  font-size: 20px;
}


.profileLink :hover{
  color: white !important;

  
}


Pagination.Item{
  color: white;
  background-color: black;
}